.navigation{
    min-height: 10vh;
    width: 100%;
    @include flex(row, space-evenly, center);
}

.nav-left{
    flex: 1;
}

.nav-right{
    flex: 1;
    @include flex(row, flex-end, center);
    li a {
        padding-left: 1rem;
        color: black;
    }
}